.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
*.log
*.trs

autom4te.cache
config.cache
config.log
config.status
libtool
Doxyfile
stamp-h1
ChangeLog
INSTALL

simplefrontend/stwolame
frontend/twolame

tests/*.mp2
tests/*.raw
